* {
  background-color: #ffff;
}

/* .container__header {
  width: 100%;
  height: 200px;
  background-color: aqua;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
}

.container_sectionPromo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

.items-article {
 width: 30%;
 height: 100px;
 background-color: aquamarine; 
}

.publish h3 {
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.publish > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

.publish > form {
  display: flex;
}

.publish > form p {
  color: #025157;
  margin-right: 18px;
} */

.promo {
  display: flex;
  
}

.explanatory-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanatory-video img {
  width: 120px;
  margin-top: 10px;
}